.container {
    width: 280px;
    color: #314d3e;
  }
  
  .hidden{
    display: none;
  }
  
  .title {
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
  }
  
  .textbox {
    width: 100%;
    font-size: 12px;
    margin: 0;
    padding: 0px 2px;
  }
  
  .textbox:focus {
    outline: 0;
    border-color: #66afe9;
  }
  
  .bookmarks {
    margin: 5px 5px;
    padding: 3px;
  }
  
  .bookmark {
    display: flex;
    /* border-bottom-color: #00254d;
    border-bottom-width: 5px;
    border-bottom-style: solid; */
    padding: 3px;
    padding-bottom: 7px;
    margin-bottom: 7px;
    overflow: auto;
  }
  
  .bookmark-title {
    padding-left: 2px;
  }
  
  .bookmark-controls img {
    margin: 0 4px;
    width: 18px;
    height: 18px;
    cursor: pointer;
  }
  .bookmark-controls {
    flex: auto;
    text-align: right;
  }
  
  /* .notes-box{
    border: 1px solid red;
    width: 200px;
  } */
  /* height: 100vh; */


  .bookmark-taken{
    padding: .5em .5em;
    border-style: solid;
    border-radius: 2px;
    border-color: #222;
    margin: .2em;
    /* display: flex;
    flex-direction: column; */
  }
  .bookmark-taken .bookmark{
    display: flex;
    flex-direction: column;
  }
  .bookmark-taken .bookmark:first-child{
    font-size: larger;
    font-weight: 500;
  }
  /* CSS */
  .button-31 {
    background-color: #222;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
  }
  
  .button-31:hover,
  .button-31:focus {
    opacity: .75;
  }