@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body 
{
  margin:0;
  padding:0;
  font-family: 'Ubuntu', sans-serif;
  align-items:center;
  height:100vh;
  background:#03396c;
}
.login
{
  text-align:center;
  width:350px;
  border-radius:20px;
  box-sizing:border-box;
  padding:40px;
  background:#fff;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

.login h2
{
  margin: 0 0 20px;
  padding:0;
  font-size:30px;
  text-transform:uppercase;
}
.login .input-group
{
  position:relative;
  width:100%;
  margin-bottom:25px;
}
.login .input-group input
{
  height:50px;
  width:100%;
  box-sizing:border-box;
  font-size:18px;
  outline:none;
  border:1px solid #000;
  border-radius:20px;
  padding-left:20px;
  padding-right:30px;
}
.login .input-group span
{
  position:absolute;
  top:15px;
  left:15px;
  padding:0;
  transition:0.5s;
  pointer-events:none;
  background:#fff;
}
.login .input-group input:focus ~ span,
.login .input-group input:valid ~ span
{
  top:-12px;
  left:12px;
  font-size:12px;
  padding:2px 4px;
  border:1px solid #000;
  background:#03396c;
  color:#fff;
}
.login .input-group input[type="submit"]
{
  background:#03396c;
  border:none;
  box-shadow: none;
  cursor:pointer;
  font-weight:600;
  text-transform:uppercase;
  color:#fff;
}
.login .input-group input[type="submit"]:hover
{
  background:#ffc107;
}
.login a
{
  font-size:12px;
  color:grey;
  text-decoration:none;
  display:block;
  text-align:center;
  
}
.login a span
{
  color:#262626;
  font-weight:600;
}
.login a span:hover
{
  color:#ffc107;
}
